#ik-do, #ik-do:before {position: absolute; width: 30px; height: 30px; border-radius: 15px}
#ik-do {display: none; border: none; color: #fff; background: var(--bgcolor); font: bold 14px Arial, sans-serif; letter-spacing: 1px;  
    padding: 0 0 0 26px; margin: 0; box-shadow: 0 0 5px grey; overflow: hidden; cursor: pointer; z-index: 9999999; -webkit-transition: width .4s ease-in-out; transition: width .4s ease-in-out}
#ik-do:hover, #ik-do.ik-do-big {width: 136px}
#ik-do:before {content: ""; top: 0; left: 0; background: var(--bgcolor) url(https://cdn.jsdelivr.net/gh/ikorektor/plugin@2/img/gear.png) no-repeat}
#ik-do:disabled:before {-webkit-animation: ik-spin 2s linear infinite; -moz-animation: ik-spin 2s linear infinite; animation: ik-spin 2s linear infinite}
#ik-inf {display: none; width: 90%; max-width: 450px; position: absolute; margin: 0; padding: 9px 9px 0; background: #fff; color: #191919; box-shadow: 0 0 5px grey; 
    font-family: Arial; line-height: normal; box-sizing: border-box; z-index: 9999999; border-radius: 4px}
#ik-inf:before {content: ""; position: absolute; bottom: 100%; right: 6px; border: solid; border-width: 9px; border-color: transparent transparent #fff transparent}
#ik-inf button {display: inline-block; height: 34px; min-height: 34px; width: 48%; margin: 11px 2px 4px; padding: 0; float: right; background: #589d62; color: #fff; 
    font: normal 15px Arial; text-align: center; cursor: pointer; border: none; box-shadow: none; border-radius: 17px}
#ik-inf button:disabled {opacity: .7; cursor: not-allowed}
#ik-inf button:hover, #ik-inf a:hover, #ik-lmt:hover {opacity: .7}
#ik-inf button#ik-cancel {float: left; margin-right: 0; background: #e0e0e0; color: #191919}
#ik-txt-area {width: 100%; margin: 0; padding: 4px 6px 41px; border: 2px solid #f1f1f1; position: relative; box-sizing: border-box; border-radius: 4px; clear: both}
#ik-txt-area.ik-txt-bg {background: url(https://cdn.jsdelivr.net/gh/ikorektor/plugin@2/img/linedpaper.png) 0 -11px}
#ik-i {position: absolute; right: 3px; bottom: 2px; text-decoration: none; display: inline-block; width: 17px; height: 17px; background: #ccc; color: #fff; 
    font: normal 14px/15px Arial; text-align: center; border-radius: 9px}
#ik-txt {text-align: left; font: normal 18px/23px Arial; color: #191919; white-space: pre-wrap; word-wrap: break-word}
#ik-txt.ik-corr-err {font-style: oblique}
#ik-txt a {display: inline; font: oblique 18px Arial; color: #0078A0; text-decoration: none}
#ik-lmt-wnd {height: 21px; padding: 0 0 2px 0; margin: 0; overflow: hidden; position: absolute; left: 3px; bottom: 0; cursor: pointer}
#ik-lmt {list-style: none; padding: 0; margin: 0; position: relative; top: 0; left: 0; -webkit-transition: top .4s ease; transition: top .4s ease}
#ik-lmt li {height: 21px; margin: 0; padding: 0; font: normal 12px/21px Arial; text-align: left; color: grey}
#ik-lmt li:after {content: " \2304"; position: relative; top: -2px; font-size: 16px; cursor: pointer; color: #191919}
#ik-lmt span {font-weight: bold; color: grey}
#ik-menu {margin: 0; padding: 0; text-align: center; font-size: 12px; color: grey; list-style: none}
#ik-menu li {display: inline-block; padding: 9px 15px; margin: 0; font: normal 12px/normal Arial; color: #0078A0; text-decoration: none; cursor: pointer}
#ik-menu li:hover {opacity: .7; background: #f1f1f1}
.ik-mark {position: relative}
.ik-mark ul {position: absolute; width: 130px; left: 50%; top: 100%; visibility: hidden; transform: translateX(-49%); text-align: center; list-style: none;
    background: rgba(0, 0, 0, .8); padding: 0 9px; margin: 0; box-shadow: 0 0 9px #fff; z-index: 99999999; box-sizing: border-box; border-radius: 4px}
.ik-mark:hover ul {visibility: visible}
.ik-mark ul li {background: #f1f1f1; color: #191919; margin: 9px 0; padding: 4px 0; font: normal 15px Arial; cursor: pointer; word-wrap: break-word; hyphens: auto; border-radius: 4px}
.ik-mark ul li:hover {background: #ccc}
.ik-mark ul li.ik-sugg {font-weight: bold}
.ik-mark ul li.ik-dis {color: grey; cursor: not-allowed}
.ik-corr {padding: 0 1px; color: #191919; border-radius: 2px}
.ik-corr-succ {background: #98FB98}
.ik-corr-sugg {background: #87cefa}
.ik-corr-sugg-succ {background: linear-gradient(to bottom right, #98FB98 50%, #87cefa 50%)}
.ik-corr-sugg2 {background: #f90}
.ik-corr-sugg2-succ {background: linear-gradient(to bottom right, #98FB98 50%, #f90 50%)}
.ik-corr-fail {background: #f66}
.ik-corr-rev {background: #ccc}
.ik-corr-user {background: #98FB98; border: 1px dotted #589d62}
@-moz-keyframes ik-spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes ik-spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes ik-spin { 100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }
